
{%- import "macros.j2" as mac -%}

#pragma once

#include <cstdint>
#include <koinos/pack/rt/reflect.hpp>

namespace koinos { namespace chain {

enum class system_call_id : {{ mac.typeref( decls_by_name["koinos::chain::system_call_id"]["tref"] ) }}
{
{%- for system_call in decls_by_name["koinos::chain::system_call_id"]["entries"] %}
   {{ system_call.name }} = 0x{{ "{:08x}".format(system_call.value) }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor %}
};

} } // koinos::chain

KOINOS_REFLECT_ENUM( koinos::chain::system_call_id, {{ mac.typeref( decls_by_name["koinos::chain::system_call_id"]["tref"] ) }},
{%- for system_call in decls_by_name["koinos::chain::system_call_id"]["entries"] %}
   ({{ system_call.name}})
{%- endfor -%}
)
