
{%- import "macros.j2" as mac -%}

#pragma once

#include <cstdint>
#include <koinos/pack/rt/reflect.hpp>

namespace koinos { namespace types { namespace thunks {

enum class thunk_id : {{ mac.typeref( decls_by_name["koinos::types::thunks::thunk_id"]["tref"] ) }}
{
{%- for thunk in decls_by_name["koinos::types::thunks::thunk_id"]["entries"] %}
   {{ thunk.name }} = 0x{{ "{:08x}".format(thunk.value) }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor %}
};

} } } // koinos::types::thunks

KOINOS_REFLECT_ENUM( koinos::types::thunks::thunk_id, {{ mac.typeref( decls_by_name["koinos::types::thunks::thunk_id"]["tref"] ) }},
{%- for thunk in decls_by_name["koinos::types::thunks::thunk_id"]["entries"] %}
   ({{ thunk.name}})
{%- endfor -%}
)
