{% set className = ts_name(decl["name"]) %}{% for dep in dependencies %}import { {{", ".join(dep[0])}} } from "{{dep[1]}}";
{% endfor%}
export class {{className}} extends Variant<
{%- for arg in decl["tref"]["targs"] %}
{%- set arg_type = typeref(arg) %}
		{{arg_type}},
{%- endfor %}
{%- for i in range(10 - len(decl["tref"]["targs"])) %}
    KoinosClass{{"," if not loop.last}}
{%- endfor %}
> {
  constructor(value = new {{typeref(decl["tref"]["targs"][0])}}()) {
    super(value, [{%- for arg in decl["tref"]["targs"] %}
      {{typeref(arg)}}{{", " if not loop.last}}{%- endfor %}
    ],[{%- for arg in decl["tref"]["targs"] %}
      "{{"::".join(arg["name"])}}"{{", " if not loop.last}}{%- endfor %}
    ]);
  }
}
