
namespace koinos { namespace thunk {

enum class thunk_id
{
{%- for thunk in thunks %}
   {{ thunk.name }} = {{ thunk.thunk_id }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor %}
};

} } // koinos::thunks
